modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Full Stack App"

[[workflows.workflow]]
name = "Full Stack App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37469
externalPort = 3000

[[ports]]
localPort = 37665
externalPort = 3003

[[ports]]
localPort = 38359
externalPort = 4200

[[ports]]
localPort = 40893
externalPort = 3002

[deployment]
deploymentTarget = "autoscale"
run = ["node", "server.js"]
build = ["npm", "run", "build"]
